#searchCondition {
    padding: 10px;
    min-width: 100px;
    height:25px;
}
/* 文言表示部分 lblで始まりTextで終わるSpan */
#divContensbox span[id^="lbl"][id$="Text"] {
    color: rgb(0,0,255);
}

/* 共通関数で自動生成した表のスタイル */
#WF_LISTAREA {
    margin-left: 10px;
    margin-right: 10px;
    /*height: calc(100% - 83px);*/
    min-height: 180px;
    position: relative;
}

#actionButtonsBox {
    min-width:720px;
}
#lblPortText {
    margin-right:2px;
}
#lblApprovalLabel, #lblPortLabel, #lblApprovalObjLabel {
    text-decoration: underline;
}