#searchCondition {
    padding: 10px;
    min-width: 100px;
    height:25px;
}

#tblSearchCondition {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #999999;
    min-width: 530px;
}

#tblSearchCondition th, #tblSearchCondition td {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #999999;
    padding: 1px;
    white-space: nowrap;
}

#tblSearchCondition th {
    background-color: #8BACCD;
}

#tblSearchCondition col:nth-child(1) {
    width: 80px;
    min-width:80px;
}

#tblSearchCondition col:nth-child(2) {
    width: 120px;
    min-width: 120px;
}

#tblSearchCondition col:nth-child(3) {
    width: 80px;
    min-width:80px;
}

#tblSearchCondition col:nth-child(4) {
    width: 120px;
    min-width: 120px;
}

#tblSearchCondition tr input[type=text] {
    width: calc(100% - 10px);
}

/* 文言表示部分 lblで始まりTextで終わるSpan */
#divContensbox span[id^="lbl"][id$="Text"] {
    color: rgb(0,0,255);
}

/* 共通関数で自動生成した表のスタイル */
#WF_LISTAREA {
    margin-left: 10px;
    margin-right: 10px;
    /*height: calc(100% - 120px);*/
    min-height: 180px;
    position: relative;
}

/* 2列目COPYボタンのスタイル */
#WF_LISTAREA button[id^="btnWF_LISTAREAACTION"] {
    width: 50px;
    height: 20px;
    text-align:center;
    vertical-align:middle;
}
#WF_LISTAREA button[id^="btnWF_LISTAREAACTION"]:after {
        content:"COPY";
}
/* 3列目DELETEボタンのスタイル */
#WF_LISTAREA button[id^="btnWF_LISTAREADELETEBTN"] {
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

#WF_LISTAREA button[id^="btnWF_LISTAREADELETEBTN"]:after {
    content: "DELETE";
}


#actionButtonsBox {
    min-width:720px;
}
#lblApprovalLabel, #lblTankNoLabel {
    text-decoration: underline;
}
/* 削除確認ポップアップ */
#divConfirmBoxWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
}

#divConfirmBox {
    position: fixed;
    top: 100px;
    text-align: left;
    min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#divConfirmtitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#divConfirmBoxButtons {
    padding: 10px 10px 5px 5px;
}

    #divConfirmBoxButtons input[type=button] {
        min-width: 70px;
    }

#divConfirmBoxMessageArea {
    padding: 10px;
}
