#tankSelectHeaderBox {
    padding: 10px;
    min-width: 100px;
    height: 38px;
}

#tankSelectHeaderBox input[type="text"] {
    height: 20px;
    width: calc(100% - 10px);
    margin: 3px;
}

#lblActy, #lblType, #lblLastProduct, #lblNextProduct {
    text-decoration: underline;
}

#tblOrderHeader {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #999999;
    min-width: 760px;
}
/* 文言表示部分 lblで始まりTextで終わるSpan */
#divContensbox span[id^="lbl"][id$="Text"] {
    color: rgb(0,0,255);
}

#tblOrderHeader th, #tblOrderHeader td {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #999999;
    padding: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#tblOrderHeader th {
    background-color: #8BACCD;
}

#tblOrderHeader th:nth-child(1) {
    width: 110px;
}

#tblOrderHeader td:nth-child(2) {
    width: 90px;
}

#tblOrderHeader td:nth-child(3) {
    width: 200px;
}

#tblOrderHeader th:nth-child(4) {
    width: 110px;
}

#tblOrderHeader td:nth-child(5) {
    width: 90px;
}

#tblOrderHeader td:nth-child(6) {
    width: 200px;
}
#thAlocTankInfo {
    width:100px;
}
#tdAlocTankInfo {
    text-align:center !important;
    width:60px;
}
/* 共通関数で自動生成した表のスタイル */
#WF_LISTAREA {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 180px;
    position: relative;
}

#WF_LISTAREA input[type=button] {
    width:80%;
    min-height:20px;
    vertical-align:middle;
    padding-top:1px;
    padding-bottom:1px;
}
#WF_LISTAREA tr[data-inspectionsoon="1"],
#WF_LISTAREA tr[data-inspectionsoon="1"] td{
    background-color:lightgreen;
}
#WF_LISTAREA tr[data-repair="1"],
#WF_LISTAREA tr[data-repair="1"] td{
    background-color: #FFE05A;
}
#WF_LISTAREA td {
   vertical-align:middle;
}
#WF_LISTAREA td[data-repair="1"]:after {
    height: 17px;
    width: 17px;
    overflow:visible;
    text-overflow:clip;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../Images/Repair.png');
    content: '';
    display: table-cell;
    float:right;
}
#WF_LISTAREA td[data-inspectionsoon="1"]:after {
    height: 17px;
    width: 17px;
    overflow:visible;
    text-overflow:clip;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../Images/Inspection.png');
    content: '';
    display: table-cell;
    float:right;
}

#WF_LISTAREA td[data-leased="1"]:after {
    height: 17px;
    width: 17px;
    overflow: visible;
    text-overflow: clip;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../Images/leased.png');
    content: '';
    display: table-cell;
    float: right;
}

#WF_LISTAREA td[data-repair="1"][data-inspectionsoon="1"]:after {
    height: 17px;
    width: 32px;
    overflow:visible;
    text-overflow:clip;
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-image: url('../../Images/Inspection.png'),url('../../Images/Repair.png');
    background-position:left,right;
    content: '';
    display: table-cell;
    float:right;
}
#WF_LISTAREA td[data-repair="1"][data-leased="1"]:after {
    height: 17px;
    width: 32px;
    overflow:visible;
    text-overflow:clip;
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-image: url('../../Images/Repair.png'),url('../../Images/leased.png');
    background-position:left,right;
    content: '';
    display: table-cell;
    float:right;
}
#WF_LISTAREA td[data-inspectionsoon="1"][data-leased="1"]:after {
    height: 17px;
    width: 32px;
    overflow:visible;
    text-overflow:clip;
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-image: url('../../Images/Inspection.png'),url('../../Images/leased.png');
    background-position:left,right;
    content: '';
    display: table-cell;
    float:right;
}
#WF_LISTAREA td[data-repair="1"][data-inspectionsoon="1"][data-leased="1"]:after {
    height: 17px;
    width: 47px;
    overflow:visible;
    text-overflow:clip;
    background-size: contain,contain,contain;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-image: url('../../Images/Inspection.png'),url('../../Images/Repair.png'),url('../../Images/leased.png');
    background-position:left,right;
    content: '';
    display: table-cell;
    float:right;
}
/* ボタンエリアの最小幅 */
#actionButtonsBox {
min-width: 450px;
} 
#addCostArea {
    padding: 0 10px 10px 10px;
    min-width: 100px;
} 
#btnAddCost {
    width: 80px;
} 
#divLeftbox #ddlNo {
    width: 415px;
    border: 2px solid blue;
    background-color: #ccffff;
} 
#divLeftbox #rblPolPod td {
    padding: 5px;
    vertical-align: middle;
} 
#divLeftbox #rblPolPod td input[type=radio] {
    position: relative;
    top: 1px;
    margin-right: 2px;
} 
#divLeftbox #rblPolPod td:nth-child(1) {
    padding-left: 0;
}
/* 確認ポップアップ */
#divConfirmBoxWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
}

#divConfirmBox {
    position: fixed;
    top: 100px;
    text-align: left;
    min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#divConfirmtitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#divConfirmBoxButtons {
    padding: 10px 10px 5px 5px;
}

    #divConfirmBoxButtons input[type=button] {
        min-width: 70px;
    }

#divConfirmBoxMessageArea {
    padding: 10px;
}
/* リースタンク引当時は最大引当数は不明の為、MAX値は非表示 */
form[data-mapvari="GB_LTankSelect"] #lblAllocateTankMaxCount,
form[data-mapvari="GB_LTankSelect"] #spnAlocSlash {
    display: none;
}