#selectHeaderBox {
    padding: 10px;
    min-width: 100px;
    height: 38px;
}

#selectHeaderBox input[type="text"] {
    height: 20px;
    width: calc(100% - 10px);
    margin: 3px;
}

/* 文言表示部分 lblで始まりTextで終わるSpan */
#divContensbox span[id^="lbl"][id$="Text"] {
    color: rgb(0,0,255);
}
#divListTitle span[id^="lbl"] {
    color: rgb(0,0,255);
    margin-left: 10px;
}
/* 共通関数で自動生成した表のスタイル */
#WF_LISTAREA {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 180px;
    position: relative;
}
    #WF_LISTAREA td {
        vertical-align: middle;
    }

/* ボタンエリアの最小幅 */
#actionButtonsBox {
min-width: 450px;
} 

/* 確認ポップアップ */
#divConfirmBoxWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
}

#divConfirmBox {
    position: fixed;
    top: 100px;
    text-align: left;
    min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#divConfirmtitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#divConfirmBoxButtons {
    padding: 10px 10px 5px 5px;
}

    #divConfirmBoxButtons input[type=button] {
        min-width: 70px;
    }

#divConfirmBoxMessageArea {
    padding: 10px;
}

/* 添付ファイルエリア */
#divAttachmentInputAreaWapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 21;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
    overflow-y: auto;
}

#divAttachmentInputArea {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: left;
    min-width: 500px;
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    overflow-y: auto;
}

/* **************************
    添付ファイルリピーター関連
************************** */
.tblAttachmentHeader {
    background-color: rgb(22,54,92);
    color: white;
    /*height:37px;*/
}

.tblAttachmentHeader, .tblAttachment {
    width: 100%;
    table-layout: fixed;
}

.tblAttachment {
    /*min-height: 100px;*/
}

    .tblAttachment input[type="text"] {
        width: calc(100% - 5px);
    }

    .tblAttachmentHeader tr:nth-child(1) th:last-child,
    .tblAttachment td:last-child {
        width: 45px;
    }

#divAttachmentArea .tblAttachmentHeader th {
    vertical-align: bottom;
    padding-bottom: 0;
    padding-top: 0;
    height: 12px;
}

#divAttachmentArea .tblAttachmentHeader tr:nth-child(1) th:first-child {
    width: 80px;
}

#divAttachmentArea .tblAttachmentHeader tr:nth-child(1) th:first-child,
#divAttachmentArea .tblAttachment td:first-child {
    text-align: left;
}

#divAttachmentArea .tblAttachmentHeader tr:nth-child(1) th:nth-child(2),
#divAttachmentArea .tblAttachmentHeader tr:nth-child(2) th:nth-child(1) {
    text-align: center;
}

#divAttachmentArea .tblAttachment td:nth-child(1):hover {
    text-decoration: underline;
    cursor: pointer;
}

#hdnUpload {
    display: none;
}

#divAttachmentInputAreaTitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
}

#divAttachmentInputAreaButtons {
    /* padding: 10px 10px 0px 0px; */
}

    #divAttachmentInputAreaButtons input[type=button] {
        min-width: 70px;
        margin: 10px 0px 0px 0px;
    }

#hdnUpload + input {
    margin-left: 8px !important;
}

#divAttachmentFiles {
    padding: 10px 10px 5px 5px;
    border: 1px solid transparent;
    height: calc(100% - 90px);
}
