/* 文言表示部分 lblで始まりTextで終わるSpan */
#divContensbox span[id^="lbl"][id$="Text"] {
    color: rgb(0,0,255);
}
/* 共通関数で自動生成した表のスタイル */
#WF_LISTAREA {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 180px;
    position: relative;
}


/* 一覧表ボタンのスタイル */
#WF_LISTAREA input[type="button"] {
    min-height: 20px;
    padding-top:1px;
    padding-bottom:1px;
    text-align: center;
    vertical-align: middle;
}
#WF_LISTAREA td.updatedValue {
    text-align:center !important;
    color:red;
}

#actionButtonsBox {
    min-width: 720px;
}

#lblPortText {
    margin-right: 2px;
}

#lblApprovalLabel, #lblPortLabel {
    text-decoration: underline;
}

#WF_LISTAREA_DL button {
    cursor: pointer;
}
#WF_LISTAREA span[id^="lblWF_LISTAREASHOWTANK"] {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#WF_LISTAREA span[id^="lblWF_LISTAREASHOWTANK"]:hover {
    color:orangered;
}

#WF_LISTAREA_DL > table > tbody > tr[data-order-row] td:not([data-showcell]), #WF_LISTAREA_DR table tbody tr[data-order-row] td:not([data-showcell]) {
    font-size: 0 !important;
    color: transparent !important;
}
/* 一覧表 ETD ETAの後ろに予定の印を付与（検索条件：予定） */
#WF_LISTAREA.\30 1SCHE th[cellfiedlname="ETD1"]:after,
#WF_LISTAREA.\30 1SCHE th[cellfiedlname="ETA1"]:after,
#WF_LISTAREA.\30 1SCHE th[cellfiedlname="ETD2"]:after,
#WF_LISTAREA.\30 1SCHE th[cellfiedlname="ETA2"]:after {
    content: '(SCHE)';
}
/* 一覧表 ETD ETAの後ろに実績の印を付与（検索条件：実績） */
#WF_LISTAREA.\30 2FIX th[cellfiedlname="ETD1"]:after,
#WF_LISTAREA.\30 2FIX th[cellfiedlname="ETA1"]:after,
#WF_LISTAREA.\30 2FIX th[cellfiedlname="ETD2"]:after,
#WF_LISTAREA.\30 2FIX th[cellfiedlname="ETA2"]:after {
    content: '(FIX)';
}
/* 削除確認ポップアップ */
#divConfirmBoxWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
}

#divConfirmBox {
    position: fixed;
    top: 100px;
    text-align: left;
    min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

#divConfirmtitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
}

#divConfirmBoxButtons {
    padding: 10px 10px 5px 5px;
}

#divConfirmBoxButtons input[type=button] {
    min-width: 70px;
}

#divConfirmBoxMessageArea {
    padding: 10px;
}
