#searchCondition {
    padding: 10px;
    min-width: 100px;
    height:25px;
}

#tblSearchCondition {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #999999;
    min-width: 190px;
}

#tblSearchCondition th, #tblSearchCondition td {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #999999;
    padding: 1px;
    white-space: nowrap;
}

#tblSearchCondition th {
    background-color: #8BACCD;
}

#tblSearchCondition col:nth-child(1) {
    width: 100px;
    min-width:100px;
}

#tblSearchCondition col:nth-child(2) {
    width: 110px;
    min-width: 110px;
}
#tblSearchCondition col:nth-child(3) {
    width: 100px;
    min-width: 100px;
}

#tblSearchCondition col:nth-child(4) {
    width: 110px;
    min-width: 110px;
}

#tblSearchCondition tr input[type=text] {
    width: calc(100% - 10px);
}
/* 文言表示部分 lblで始まりTextで終わるSpan */
#divContensbox span[id^="lbl"][id$="Text"] {
    color: rgb(0,0,255);
}
/* 共通関数で自動生成した表のスタイル */
#WF_LISTAREA {
    margin-left: 10px;
    margin-right:10px;
    min-height: 180px;
    position: relative;
}

#actionButtonsBox {
    min-width:720px;
}
#lblPortText {
    margin-right:2px;
}
#lblApprovalObjLabel,#lblApprovalLabel, #lblPortLabel {
    text-decoration: underline;
}
/* マルチラインテキスト入力ポップアップ */
#divRemarkInputBoxWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
}

#divRemarkInputBox {
    position: fixed;
    top: 100px;
    text-align: left;
    min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

#divRemarkInputitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
}

#divRemarkInputButtons {
    padding: 10px 10px 5px 5px;
}

#divRemarkInputButtons input[type=button] {
    min-width: 70px;
}

#divRemarkTextArea {
    padding: 10px 10px 5px 5px;
    border: 1px solid transparent;
}

    #divRemarkTextArea textarea {
        width: 500px;
        height: 300px;
        min-width: 500px;
        min-height: 300px;
        padding: 5px;
    }

.remarksMessage {
    color: rgb(211,211,211) !important;
    font-style: italic;
    display: block;
    width: 100px;
}

#spnApprovalRemarks .remarksMessage,
#spnAppJotRemarks .remarksMessage {
    width: 100px;
}

#gvDetailInfo .remarksMessage {
    width: calc(100% - 10px);
}
/* 添付ファイルエリア */
#divAttachmentInputAreaWapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 21;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
    overflow-y: auto;
}
#divAttachmentInputArea {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: left;
    min-width: 500px;
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    overflow-y: auto;
}

/* **************************
    添付ファイルリピーター関連
************************** */
.tblAttachmentHeader {
    background-color: rgb(22,54,92);
    color: white;
    //height:37px;
}

.tblAttachmentHeader, .tblAttachment {
    width: 100%;
    table-layout: fixed;
}
.tblAttachment {
    //min-height: 100px;
}
    .tblAttachment input[type="text"] {
        width: calc(100% - 5px);
    }

    .tblAttachmentHeader tr:nth-child(1) th:last-child,
    .tblAttachment td:last-child {
        width: 45px;
    }

#divAttachmentArea .tblAttachmentHeader th {
    vertical-align: bottom;
    padding-bottom: 0;
    padding-top: 0;
    height: 12px;
}

#divAttachmentArea .tblAttachmentHeader tr:nth-child(1) th:first-child {
    width: 80px;
}

#divAttachmentArea .tblAttachmentHeader tr:nth-child(1) th:first-child,
#divAttachmentArea .tblAttachment td:first-child {
    text-align: left;
}

#divAttachmentArea .tblAttachmentHeader tr:nth-child(1) th:nth-child(2),
#divAttachmentArea .tblAttachmentHeader tr:nth-child(2) th:nth-child(1) {
    text-align: center;
}

#divAttachmentArea .tblAttachment td:nth-child(1):hover {
    text-decoration: underline;
    cursor: pointer;
}
#hdnUpload {
    display: none;
}
/* 申請内容テキストボックスのスタイル */
#WF_LISTAREA_DR input[type="text"][id^="txtWF_LISTAREAAPPROVEDTEXT"] {
    pointer-events: none;
    text-overflow: ellipsis;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}
#divAttachmentInputAreaTitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 15px;
    background-color: #8BACCD;
}
#divAttachmentInputAreaButtons {
    /* padding: 10px 10px 0px 0px; */
}
#divAttachmentInputAreaButtons input[type=button] {
    min-width: 70px;
    margin:10px 0px 0px 0px;
}
#hdnUpload+input {
    margin-left: 8px !important;
}
#divAttachmentFiles {
    padding: 10px 10px 5px 5px;
    border: 1px solid transparent;
    height:calc(100% - 90px);
}
input[type='text'][id^='txtWF_LISTAREAAPPROVEDTEXT']:not([value='']) {
    background-size: auto 14px;
    background-repeat: no-repeat;
    background-image: url('../../Images/exclamation.png');
    background-position: 2px center;
    padding-left: 21px !important;
    width: calc(100% - 37px) !important;
}

/* OUTPUTボタンのスタイル */
#WF_LISTAREA button[id^="btnWF_LISTAREAOUTPUT"] {
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
}

#WF_LISTAREA button[id^="btnWF_LISTAREAOUTPUT"]:after {
    content: "OUTPUT";
}

/* PRINTボタンのスタイル */
#WF_LISTAREA button[id^="btnWF_LISTAREAPRINT"] {
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#WF_LISTAREA button[id^="btnWF_LISTAREAPRINT"]:after {
    content: "PRINT";
}

#WF_LISTAREA button[id^="btnWF_LISTAREAUNLOCKAPPROVE"] {
    width: 100px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
#WF_LISTAREA button[id^="btnWF_LISTAREAUNLOCKAPPROVE"]:after {
    content: "Unlock Approve";
}