<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
	  <!--<identity impersonate="true" userName="pcadmin1" password="pad1" />-->
	  <httpRuntime targetFramework="4.5"
                 maxRequestLength="2097151" />

    
    
    <!--デバッグ用-->
    <customErrors mode="Off"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="20"/>
  </system.web>
  
  <appSettings>
    <!-- アプリINIファイルフルパス(InifilePath)-->
    <add key="InifilePath" value="C:\APPL_JOT(dev)\INI\APPL.ini" />
    <!--<add key="InifilePath" value="C:\APPL_JOT(large)\INI\APPL.ini" />-->
    <!-- 言語モード(DefaultLangugeMode)　日本語(JA)/英語(EN)-->
    <add key="DefLangModeDisp" value="EN" />
    <!-- 言語モード(DefaultLangugeMode)　日本語(JA)/英語(EN)-->
    <add key="DefLangModeLog" value="JA" />
    <!-- ヘッダー帯の背景色 未指定時は標準 -->
    <add key="HtmlHeaderBgColor" value=""/>
    <!-- ヘッダー帯のプレフィックス 未指定時は標準  -->
    <add key="HtmlHeaderTextPrefix" value="(dev)"/>
    <!-- コンテンツ帯の背景色 未指定時は標準 -->
    <add key="HtmlContensBgColor" value=""/>

  </appSettings>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="COM00001LOGON.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="Pragma" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>  
  
</configuration>